.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 20px;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.formBox {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.questionBox {
  border-bottom: 2px solid black;
}

.questionHeader {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.questionBody {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff6b00;
  text-align: center;
  margin-bottom: 10px;
}

.buttonsRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
}

.button {
  position: relative;
  justify-self: center;
  width: 100%; 
  max-width: 250px; 
  height: 60px; 
  background-color: #ff6b00;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 60px; 
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #e65c00;
  }
}

.submitButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.progressBar {
  border-top: 2px solid black;
  padding: 10px;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.progressOuter {
  height: 10px;
  background-color: #eee;
  width: 100%;
  border: none;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.progressInner {
  height: 100%;
  background-color: #ff6b00;
  transition: width 0.3s ease;
}

.progressText {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff6b00;
  text-align: center;
  margin-bottom: 10px;
}

.recommendationButton {
  background-color: #ff6b00;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 20px;

  &:hover {
    background-color: #e65c00;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .imgContainer {
    max-width: 100%;
    height: 100%;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .buttonsRow {
  
    gap: 5px; /* Уменьшенное расстояние между кнопками */
  }

  .button {
    max-width: 200px; /* Уменьшение ширины кнопок */
    height: 50px; /* Уменьшение высоты кнопок */
    font-size: 1rem; /* Уменьшение размера текста */
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .button {
    max-width: 180px; 
    height: 40px; 
    font-size: 0.9rem; 
    line-height: 40px;
  }
}
