.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  padding: 20px;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ff6b00;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  color: #ff6b00;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff6b00;
  margin-top: 20px;
  margin-bottom: 20px;
}

.appList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  max-width: 400px;
}

.appItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #8a8888; /* Светлый фон для контраста */
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px); /* Легкий подъем при наведении */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
    background-color: #ffffff; /* Чуть более яркий фон при наведении */
  }
}

.appIcon {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.appIcon:hover {
  transform: scale(1.1);
}

.blurred {
  filter: blur(3px);
  opacity: 0.7;
}

.stars {
  font-size: 1.2rem;
  color: gold;
}

.recommendationButton {
  background-color: #ff6b00;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 30px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #e65c00;
    transform: translateY(-3px);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .appIcon {
    width: 60px;
    height: 60px;
  }

  .recommendationButton {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
