.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.questionBox {
  position: absolute;
  bottom: 36%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  margin: 10px auto;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;

  &::-webkit-slider-runnable-track {
    background-color: #ff6b00;
    height: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f0f0ef;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    margin-top: -5px;
  }

  &::-moz-range-track {
    background-color: #ff6b00;
    height: 10px;
    border-radius: 5px;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #f0f0ef;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -5px;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.progressBar {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.progressOuter {
  height: 20px;
  background-color: #eee;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.progressInner {
  height: 100%;
  background-color: #ff6b00;
  transition: width 0.3s ease;
  text-align: right;
  padding-right: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.progressText {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
}

.button {
  position: absolute;
  width: 300px;
  bottom: 23%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4500;
  color: white;
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: #e63900;
    transform: translateX(-50%) scale(1.05);
  }
}

span {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-top: 10px;
}

@keyframes blink {
  0%,
  100% {
    color: #b8694f;
  }
  50% {
    color: #b65007;
  }
}

@media (max-width: 1020px) {
  .button {
    font-size: 0.8rem;
    padding: 0.3rem 1.0rem;
    width: 200px;
    bottom: 21%;
  }

  .progressBar {
    width: 50%;
    padding: 8px;
    bottom: 5%;
  }

  .questionBox {
    bottom: 28%;
  }

  .progressInner {
    font-size: 0.8rem;
  }

  .progressText {
    font-size: 0.9rem;
  }

  .questionBox {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0;
    overflow: hidden;
  }

  .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    width: 200px;
    bottom: 30%;
  }

   .questionBox {
    bottom: 40%;
  }

  .progressBar {
    width: 90%;
    padding: 8px;
    bottom: 15%;
  }

  .progressOuter {
    height: 20px;
  }

  .progressInner {
    font-size: 0.8rem;
  }

  .progressText {
    font-size: 0.9rem;
  }

  .questionBox {
    width: 90%;
    padding: 8px;
  }

  span {
    font-size: 0.9rem;
  }
}
